{% extends "base.html" %}
{% block title %} Atualizar Status do Pedido {% endblock title %}

{% block content %}
    <h2>Atualizar Status do Pedido</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="status" class="form-label">Status do Pedido</label>
            {{ form.status }}
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'pedido_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}
